* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f2f2f2;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 15px;
  border-radius: 50%;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffd700;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #004080, #007acc);
  color: white;
}

.hero button {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background-color: #ffd700;
  color: #004080;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero button:hover {
  background-color: red;
}

.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
  background-color: white;
}

.feature {
  background-color: greenyellow;
  padding: 20px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(149, 209, 219, 0.1);
}

footer {
  background-color: #004080;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
gridformat